*
!*.*
!*/

# Need these
!Makefile
!imgs

# Don't need these
*.o

aquisition.log
build

arch-system/out
arch-system/work
!arch-system/airootfs/etc/skel/.config/i3/config
!arch-system/airootfs/usr/bin/vyper
